/* div, a { border: 1px solid lightgray; } */
body { background-image: url("../img/math.jpeg") }

.calc {
    width: 422px; height: 536px; margin: auto;
    background-color: #5a5c68;
    border-radius: 25px;
    padding-top: 27px;
}

.calc .disp {
    width: 387px; height: 90px;
    background-color: #c1d798;
    border-radius: 20px;
    margin-left: auto; margin-right: auto;
    margin-bottom: 15px;
}

.calc .btns {
    width: 384px;
    /* margin-left: auto; margin-right: auto; */
}

.calc .btns a {
    display: block;
    width: 86px; height: 86px;
    float: left; margin: 5px; border-radius: 18px;
    color: white;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
}

.calc .btns a:hover {
    background-color: coral;
}

.btn_numb { background-color: #3d4049; }
.btn_sign { background-color: #bcc0c7; }

.bg_red { background-color: red; }